.custom_table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    table-layout: auto;
    overflow: hidden;
    transition: 0.3s all ease-in-out;
}

.custom_tablehead {
    height: 4rem;
    background-color: rgb(85, 85, 85);
}

.custom_tablehead_cell {
    text-align: center;
    color: white;
    padding: 10px;
    white-space: nowrap;
}

.custom_tablebody_row {
    height: 6rem;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.custom_tablebody_cell {
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    height: 6rem;
}

.video_cell {
    width: 10%;
}

.video_title_cell {
    width: 60%;
    text-align: left;
}

.video_visibility_cell {
    width: 10%;
}

.video_uploaded_at_cell {
    width: 10%;
}

.video_processing_status_cell {
    width: 10%;
}

.custom_table_video_thumbnail {
    height: 100%;
    width: auto;
}

.pagination{
    display: flex;
    align-items: center;
    padding: 20px 0px;
    float: right;
}

.pagination span{
    font-size:0.9rem;
    margin-right: 10px;
}

.select-dropdown,
.select-dropdown * {
    margin: 0;
    padding: 0;
    width: 80px;
    box-sizing: border-box;
    cursor: pointer;
}

.select-dropdown {
    position: relative;
    background-color: #E6E6E6;
    border-radius: 4px;
}

.select-dropdown select {
    font-size: 1rem;
    font-weight: normal;
    max-width: 100%;
    padding: 8px 24px 8px 10px;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-dropdown select:active,
.select-dropdown select:focus {
    outline: none;
    box-shadow: none;
}

.select-dropdown:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    width: 0;
    height: 0;
    margin-top: -2px;
    border-top: 5px solid #aaa;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.custom_table_pagination_arrow{
    margin: 0 10px;
    cursor: pointer;
}